{% extends 'base.html' %}

{% block title %}Main Demo Index{% endblock %}

{% block content %}

<header class="text-center text-dark">

  <h1><div id=logo> Gradestimator </div></h1>

  <h1 id="dashboard_title">Demos</h1>

  <div class="card text-left border-dark mb-3">
    <div class="card-header" id="UVA_Card_Header">
      University of Virginia
    </div>
    <div class="card-body">
      <h5 class="card-title">Predicting Computer Science Grades</h5>
      <p class="card-text">Using grade distributions of courses
      from the Computer Science major at the University of Virginia,
      this demo aims to predict performance on a certain course based
      on previous relevant academic performance.
      </p>
      <a class="w3-button w3-round-xxlarge w3-hover-white btn-sm"
      href="{% url 'demo:UVAdemo' %}" role="button" id='uva_button'>
        Start Demo
      </a>
    </div>
  </div>

</header>

{% endblock %}
